<div class="page-container">

    {{#if item}}
        
        <h1>{{item.name}}</h1>
        <ul>
            <li>
                {{item.category}}
            </li>
            <li>
                {{item.color}}
            </li>
            <li>
                {{item.size}}
            </li>
        </ul>

        <h4>Descrição</h4>
        <p>{{item.desc}}</p>
        <p>Encontrado por <span>{{item.user_found.name}}</span></p>
        
        <form>
            <input type="button" value="Agendar retirada">
        </form>
    {{else}}
        <img src="/icons/triste.png">
        <h1>Item não encontrado</h1>
    {{/if}}

</div>